# Java
target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# Angular
node_modules/
dist/
.angular/
.vscode/

# Environment
.env
application-local.properties

# Local DB files
data/
*.mv.db
*.lock.db

# OS
.DS_Store
Thumbs.db
